<ion-view view-title="Connection">
  <ion-content class="padding" ng-controller="DashCtrl" >
 
	<div class="loginPage" >
	<p class="instruction"> Entrer le nom d'utilisateur et le mot de passe</p>
  <div id="loginForm">
   <label class="item item-input">
    <input type="text" placeholder="Nom utilisateur" ng-model="user.login">
  </label>
  <label class="item item-input">
    <input type="password" placeholder="Mot de passe" ng-model="user.password">
  </label>
  </div>
		<p id="erreurLogin" style="display:none; " >Erreur de nom d'utilisateur ou de mot de passe</p>
		<p style="display:none;" id="erreurConnection">Erreur de connection</p>
		<button class="button button-block button-calm" ng-click="connectionUser(user)">
  		Connection
		</button>
</div>  
  </ion-content>
</ion-view>

