<ion-view view-title="Your account" cache-view="false">
 
  <ion-content ng-controller="AccountCtrl">

<div class="list">

	<div id="userAccount">
		<p class="title">Your informations:</p>
		<ul class="list-group">
			<li class="list-group-item">{{user.firstname}} {{user.lastname}}
			</li>
			<li class="list-group-item">Immatricul : {{vehicle.immatricul.immatricul}}
			</li>
			<li class="list-group-item">Geolocation : {{vehicle.geolocalisation.latitude}} || {{vehicle.geolocalisation.longitude}}
			</li>
			<li class="list-group-item">Level breakdown : {{vehicle.levelBreakdown.levelBreakdown}}
			</li>
			<li class="list-group-item">State vehicule : {{vehicle.stateVehicle.stateVehicle}}
			</li>
		</ul>
	</div>
</div>

<button class="button button-full button-positive" ng-controller="AccountCtrl" ng-click="goOut()">
Go out
</button>


<button class="button button-full button-assertive" ng-controller="DashCtrl" ng-click="deconnection()">
  Disconnect
</button>
  </ion-content>
</ion-view>
